
متابعة التطور في ميناء العين السخنة.mp4_1715978030474.mp4
متابعة التطور في ميناء العين السخنة.mp4
رصد مخالفات حرق قش الأرز.mp4
تطبيق متابعة المتغيرات في محافظة القاهرة.mp4
تطبيق تصنيف المحاصيل الزراعية.mp4
Tanzaniz_Min.of_Minning.pptx
mining_dashbord.mp4
mining_dashbord_cost.mp4
Crop_classification_Dumyat.webm
