@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bs-border-radius: 30px;
    --white: #ffffff;
}

body {
    background-color: #fcfcfc;
    background-image: url(https://i.ibb.co/G0JtHXB/satellite-imagery-of-africa-desktop-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}


/* *======================== Login page ========================* */

.loading {
    background-color: #000000c5;
    width: 100%;
    height: 100vh;
    opacity: 1;
    /* transition: all 1.5s ease; */
    display: block;
    /* animation: hide 1.5s ease-in-out forwards 1.5s; */
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
}

.loading_hidden {
    animation: hide 1.5s ease-in-out forwards 1.5s;
}

#V_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* animation: fill 1.95s ease-in-out forwards 1.5s; */
    animation: fill 1.5s ease-in-out forwards 1.5s;
}

#V_logo path:nth-child(1) {
    stroke-dasharray: 634.643;
    stroke-dashoffset: 634.643;
    /* animation: line-anim 2s ease forwards 1s; */
    animation: line-anim 1s ease forwards 0.3s;
}

#V_logo path:nth-child(2) {
    stroke-dasharray: 659.999;
    stroke-dashoffset: 659.999;
    animation: line-anim 1s ease forwards 0.6s;
}

#V_logo path:nth-child(3) {
    stroke-dasharray: 747.408;
    stroke-dashoffset: 747.408;
    animation: line-anim 1s ease forwards 0.8s;
}

#V_logo path:nth-child(4) {
    stroke-dasharray: 496;
    stroke-dashoffset: 496;
    animation: line-anim 1s ease forwards 1s;
}

#V_logo path:nth-child(5) {
    stroke-dasharray: 659.999;
    stroke-dashoffset: 659.999;
    animation: line-anim 1s ease forwards 1.25s;
}

#V_logo path:nth-child(6) {
    stroke-dasharray: 695.288;
    stroke-dashoffset: 695.288;
    animation: line-anim 1s ease forwards 1.5s;
}


@keyframes line-anim {
    to {
        /* stroke-dasharray: 0; */
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: white;

    }
}

@keyframes hide {
    from {
        opacity: 1;
        display: block;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.Home_section {
    opacity: 0;
    animation: appear_map 2s ease-in-out;
}

@keyframes appear_map {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.Side_bar_hidden {
    opacity: 0;
    animation: appear_map 2s ease-in-out;
}

@keyframes appear_map {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    /* background-color: #e5e5e5;  */
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
}

.shape:first-child {
    background: linear-gradient(#182ead, #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to bottom, #62aaf3, #0c3f53);
    right: -120px;
    bottom: -80px;
}

.container_input {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.63);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50px;
    backdrop-filter: blur(1px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 15px 35px;
}

.container_input * {
    font-family: 'Poppins', sans-serif;
    color: #495057;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.container_input h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.219) !important;
    border-radius: 50px;
    padding: 0 20px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

input:focus {
    border: 1px solid #216bc0;
}

input:valid {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #216bc0;
    box-shadow: inset 0 0 20px 20px #23232329;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-background-clip: text;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    border: 1px solid #216bc0;
    -webkit-text-fill-color: #000000;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

::placeholder {
    color: #e5e5e5;
}

.btn_login,
.btn_login1 {
    margin-top: 30px;
    width: 60%;
    text-align: center;
    background-color: #216bc0e6;
    color: #fcfcfc;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100px;
    cursor: pointer;
    border: 2px solid #fff;
    transition: all 0.3s;
}

.btn_login:hover {
    border: 2px solid #216bc0;
    background-color: #fff;
    color: #216bc0;
    filter: drop-shadow(#67aabb 0.5px 0.5px 3px);
}

.btn_login1:hover {
    border: 2px solid #216bc0;
    background-color: #fff;
    color: #216bc0;
    filter: drop-shadow(#67aabb 0.5px 0.5px 3px);
}

.social {
    margin-top: 30px;
    display: flex;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}

.btn_1 {
    /* background-color: #1845ad; */
    text-align: center;
}

.image {
    /* background-color: #f09819; */
    text-align: center;
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* top:-40px; */
}

#loginPage .image img {
    width: 70%;
}

/* img { */
/* width: 220px; */
/* background-color: #e5e5e5; */
/* } */

.status,
.redMessage {
    /* transform: translate(-50%); */
    margin-top: 5px;
    text-align: center;
    width: 100%;
    position: absolute;
    color: rgb(255, 0, 0);
    font-weight: 800;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50px;
    padding: 2px;
}

#logoutPage {
    position: absolute;
    left: 0px;

}

.bg-light {
    border-radius: 35px;
    --bs-bg-opacity: .5;
    background-color: #0000005c !important;
    border: 2px solid #0d6efd;
}

.bg-light2 {
    border-radius: 35px;
    --bs-bg-opacity: .5;
    background-color: #ffffffb2 !important;

}

.Side_v_logo {
    text-align: center;
    width: 80%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    top: 15px;
    margin-bottom: 20px;
}

/* .ul_icon_sidebar{
    /* width: 100%; 
} */

ul {
    margin-top: 20;
    margin-bottom: 0.2rem;
    display: block;
    /* list-style-type: disc; */
    margin-block-start: 50%;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.status,
.redMessage:empty {
    border: none;
}

.login_Success,
.login_SuccessHome {
    margin-top: 15px;
    width: 100%;
    color: rgb(0, 255, 0);
    font-weight: 800;
    text-align: center;
    border: 2px solid rgb(0, 255, 0);
    border-radius: 50px;
}

.login_Success,
.login_SuccessHome:empty {
    border: none;
    background-color: transparent;
}

.Message {
    width: 100%;
    margin: auto;
    position: relative;


}

.message_border {
    /* background-color: #f39762; */
    position: absolute;
    left: 80px;
    width: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.h5,
h5 {
    font-size: 1rem;
}

.logout {
    margin-bottom: 130px;
}

.success_panel {
    background-color: #ddffdd;
    border: 1px solid #ccc;
    border-radius: 30px;
    text-align: center;
    width: 25%;
    padding: 50px;
}

.iconSuccess {
    font-size: 100px;
    color: green;
}

/* *-------------------Move Part--------- */
#success_panel {
    background-color: #d0fffdbd;
    border: 1px solid #ccc;
    border-radius: 30px;
    text-align: center;
    width: 80%;
    padding: 35px;
    position: absolute;
    top: 180px;
}

#success_panel h3 {
    color: #080710;
    font-size: 1.3rem;
    font-weight: 600;
    padding-top: 5px;
}

#success_panel .iconSuccess i {
    font-size: 100px;
    color: green;
}

.btn_logout {
    margin-top: 50px;
    width: 60%;
    text-align: center;
    background-color: #c02121e6;
    color: #fcfcfc;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100px;
    cursor: pointer;
    border: 2px solid #fff;
    transition: all 0.3s;
}

.btn_logout:hover {
    border: 2px solid #c02121e6;
    background-color: #fff;
    color: #c02121e6;
    filter: drop-shadow(#bb7867 0.5px 0.5px 3px);
}

#map {
    width: 100%;
    height: 100%;
    opacity: 0;
}


/* #marker {
    background-image: url('/wp-content/uploads/2021/04/copywriter-logo-dark.svg');
    background-size: cover;
    width: 30px;
    height: 30px;
} */

.Side_bar {
    width: 90px;
    height: inherit;
    opacity: 0;
    position: absolute;
    top: 50%;
    height: auto;
    left: 10px;
    transform: translate(0, -50%);
}

.white_bg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* top: 10px; */
    width: 75px;
    margin-bottom: 10px;
}

.map {
    /* margin-left:100px ; */
    width: 100%;
}

/* .sticky-top {
    top:15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
} */


/* canvas[Attributes] {
    aspect-ratio: 1920 / 1080;
} */


.logContainer {
    width: 95%;
}

.li_logout {
    width: 110px;
}

.nav-link:focus,
.nav-link:hover {
    color: #ffffff;

}

.nav-item {
    /* background-color: #0011ff; */
    border-radius: 15px;
}

.list_detection {
    width: 310px;
    height: auto;
    background-color: #dde7fcd5;
    position: absolute;
    left: 100px;
    z-index: 1019;
    border-radius: 30px;
    display: none;
    animation: fadeIn 0.6s;
    top: 0%;
}


.list_detection1 {
    width: 250px;
    height: auto;
    background-color: #dde7fcd5;
    position: absolute;
    left: 90px;
    bottom: 5%;
    /* transform: translateY(-50%); */
    z-index: 1019;
    border-radius: 30px;
    display: none;
    animation: fadeIn3 0.6s;
}

.list_detection2 {
    width: auto + 16;
    height: auto;
    background-color: #dde7fcd5;
    position: absolute;
    top: 0;
    left: 415px;
    z-index: 1019;
    border-radius: 30px;
    display: none;
    animation: fadeIn2 0.6s;
    /* padding: 0 16px 0; */
}

/* .list_detection2:hover .Montoring_project{

        background-color: #0000003d;
    
} */
/* li.Montoring_project:hover  .list_detection2{
    display: block;
}; */
@keyframes fadeIn {
    from {
        opacity: 0;
        left: 60px;
    }

    to {
        opacity: 1;
        left: 100px;
    }
}

@keyframes fadeIn2 {
    from {
        opacity: 0;
        left: 390px;
    }

    to {
        opacity: 1;
        left: 415px;
    }
}

@keyframes fadeIn3 {
    from {
        opacity: 0;
        left: 60px;
    }

    to {
        opacity: 1;
        left: 90px;
    }
}

.dropdown-item1 {
    display: block;
    padding: 10px 0;
    clear: both;
    font-weight: 400;
    color: #0011ff;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius, 0);
    width: auto;
}


.list_detection ul {
    margin-top: 20;
    margin-bottom: 0.2rem;
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    /* width: auto; */
    padding: 10px 0;
    overflow: auto;
    height: auto;
}

.list_detection ul li {
    width: 95%;
    border-radius: 30px;
}

.list_detection ul li a:hover {
    color: #fff;
}

.list_detection ul li:hover {
    background-color: #0000003d;
}

.list_detection2 ul {
    /* margin-bottom: 0.2rem; */
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: auto;
    padding: 10px 0;
}

/* .internal_list{
    margin: 0 16px 0;
} */

.list_detection2 ul li {
    width: 95%;
    border-radius: 30px;
    padding: 0 25px 0;
}

.list_detection2 ul li a:hover {
    color: #fff;
}

.list_detection2 ul li:hover {
    background-color: #0000003d;
}

.nav-link.active {
    color: #fff;
    background-color: #00000054 !important;
    border-radius: 30px !important;
    animation: 0.5s;
    transition: all 0.5s linear;
}

.list_detection1 ul {
    margin-top: 20;
    margin-bottom: 0.2rem;
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: auto;
    padding: 10px 0;
    /* position: absolute; */

}

.list_detection1 ul li {
    width: 95%;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
}

.list_detection1 ul li a:hover {
    color: #fff;
}

.list_detection1 ul li:hover {
    background-color: #0000003d;
}

.list_detection1 ul li.Log_out1:hover {
    background-color: #ff0000a8;
    color: #fff;
}

/* ^-------------------- Slider style -------------------- */
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    bottom: 0px;
    /* margin: 15px; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 40px;
}

/* Our image information */
.before,
.after {
    height: 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
}

.scroller {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.9;
    pointer-events: auto;
    cursor: pointer;
}

.scroller:hover {
    opacity: 1;
}

.scrolling {
    pointer-events: none;
    opacity: 1;
    z-index: 1;
}

.scroller__thumb {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.scroller:before,
.scroller:after {
    content: " ";
    display: block;
    width: 2px;
    height: 9999px;
    position: absolute;
    left: 50%;
    z-index: 30;
    transition: 0.1s;
}

.scroller:before {
    top: 100%;
}

.scroller:after {
    bottom: 100%;
}

.scroller {
    border: 3px solid #fff;
}

.scroller:before,
.scroller:after {
    background: #fff;
}

#dialog_detect {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
    width: 83%;
    height: 95%;
    background-color: #ffffff9c;
    border-radius: 40px;
    animation: detect_card 0.8s;
    display: none;
    /* z-index:00; */
    padding: 15px;

}

.content-image {
    /* width: 700px; */
    height: 100%;
}

@keyframes detect_card {
    from {
        opacity: 0;
        left: 40%;
    }

    to {
        opacity: 1;
        left: 50%;
    }
}

img,
svg {
    vertical-align: baseline;
}

/* .dialog_detect a {
    position: relative;
    margin: 15px;
} */

#page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: #0011ff; */
    /* position: absolute; */
    padding: 0px 7.5px 0px 0px;
    gap: 10px;
}

#page a img {
    width: 100%;
    /* height: 100px; */
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.watermark {
    position: absolute;
    bottom: 25px;
    right: 25px;
    width: 7%;
}

.watermark img {
    width: 100%;
    opacity: 0.5;
}


#dropdownUser3 i:hover {
    color: #fff;
}

.nav-pills .nav-link {
    border-radius: 10px;
    transition: all 0.8s;
}




/* *-------------- Select Option--------------------- */
.select-menu {
    width: auto;
    position: absolute;
    /* top: 10px; */
    /* left: 10px; */
    z-index: 1500;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-menu#right_selector {
    /* position: absolute; */
    top: 10px;
    right: 10px;
}

.select-menu#left_selector {
    /* position: absolute; */
    top: 10px;
    left: 10px;
}

.select-menu .select-btn {
    display: flex;
    height: 40px;
    background: #ffffffa6;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.select-btn i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: relative;
    /* padding: 5px; */
    margin-top: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
    border-radius: 30px;
}

.list_date_container {
    margin-top: 10px;
    border-radius: 30px;
    background: #fff;
    width: auto;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    /* display: flex; */
    /* height: 10px; */
    cursor: pointer;
    padding: 0 16px;
    border-radius: 30px;
    align-items: center;
    background: #fff;
    text-align: center;
}

.options .option:hover {
    background: #F2F2F2;
    border-radius: 30px;
}

.option i {
    font-size: 5px;
    /* margin-right: 12px; */
    text-align: center;
}

.option .option-text {
    font-size: 18px;
    color: #333;
}

.select-menu1 {
    width: auto;
    position: absolute;
    /* top: 10px; */
    /* left: 10px; */
    z-index: 900;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-menu1#right_selector {
    /* position: absolute; */
    top: 10px;
    right: 10px;
}

.select-menu1 .select-btn1 {
    display: flex;
    height: 40px;
    background: #ffffffa6;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.select-btn1 i {
    font-size: 25px;
    transition: 0.3s;
}

.select-menu1.active .select-btn1 i {
    transform: rotate(-180deg);
}

.select-menu1 .options1 {
    position: relative;
    /* padding: 5px; */
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
    border-radius: 30px;
}

.select-menu1.active .options1 {
    display: block;
}

.options1 .option1 {
    /* display: flex; */
    /* height: 10px; */
    cursor: pointer;
    padding: 0 16px;
    border-radius: 30px;
    align-items: center;
    background: #fff;
    text-align: center;
}

.options1 .option1:hover {
    background: #F2F2F2;
    border-radius: 30px;
}

.option1 i {
    font-size: 5px;
    /* margin-right: 12px; */
    text-align: center;
}

.option1 .option-text1 {
    font-size: 18px;
    color: #333;
}



.dashbord {
    /* background-color: aqua; */
    /* position: absolute; */
    /* top: 15px; */
    /* right: 15px; */
    width: 100%;
    height: 100%;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
    padding: 0px 0px 0px 7.5px;
}

.dashbord img {
    width: 100%;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 30px;
}

.dashbord .timeline {
    width: 100%;
    height: 55%;
    border-radius: 30px;
    /* padding: 0px 0px 2.5px 0px; */
    margin-bottom: 10px;
}

.dashbord .piechart {
    padding: 2.5px 5px 0px 0px;
    width: 100%;
    height: 100%;
}

#dashbord_img2 {
    width: 100%;
    height: 100%;
    /* border: 5px solid red; */
}

.parchart {
    padding: 2.5px 0px 0px 9px !important;
}

.dashbord .parchart img {
    width: 100%;
    height: 100%;
}

.container_row2 {
    display: flex;
    justify-content: space-between;
    /*gap: 10px;
    height: 45%;
    width: 100%;
    /* padding: 2.5px 0px 0px 0px; */
    /* margin-left: px; */
    /* margin-bottom: 10px; */

}

#image_date_left {
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 10px;
    /* height: 250px; */
}


*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
    height: 250px;

}


*::-webkit-scrollbar-thumb {
    background: #182ead9d;
    border-radius: 10px;

}


*::-webkit-scrollbar-thumb:hover {
    background: #0000009d;
}

#image_date_right {
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.row>* {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: var(--bs-gutter-y);
}

/* .detection_icon{
    background-image: url("https://icons8.com/icons/set/land");
} */


#detect img {
    text-align: center;
    /* padding-top: 5px; */
    margin-top: 5px;
}

#icon_land {
    transition: all 0.8s;
    width: 30px;
    height: 30px;
    background-image: url("https://img.icons8.com/ios/0D6EFD/country--v1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* .nav-link:focus,
.nav-link:hover {
    color: #ffffff;
} */

.detection_icon:hover #icon_land,
.detection_icon:focus #icon_land {
    background-image: url("https://img.icons8.com/ios/ffffff/country--v1.png");
}

#icon_land:focus {
    background-image: url("https://img.icons8.com/ios/ffffff/country--v1.png");
}


.detection_icon.active {
    color: #fff;
    background-color: #00000054 !important;
    border-radius: 30px !important;
    animation: 0.5s;
    transition: all 0.5s linear;

    #icon_land {
        background-image: url("https://img.icons8.com/ios/ffffff/country--v1.png");
    }
}

#Land_Management_Menu {
    top: 45px;
}

#Forestry_Menu {
    top: 90px;
}

#Agriculture_Menu {
    top: 135px;
}

#Mineral_Resources_Menu {
    top: 180px;
}

#Water_Resources_Menu {
    top: 218px;
}

#National_Security_Defense_Menu {
    top: 265px;
}

ul {
    border-radius: 30px;
}

.video_container {
    /* background-color: #0011ff; */
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: none;
}

/* #video_element {
    border-radius: 30px;
} */

video {
    object-fit: fill;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');


.custom-video__video {
    border-radius: 40px;
    cursor: pointer;
    position: absolute;
    width: 98%;
    height: 96%;
    top: 50%;
    left: 50%;
    border: 3px solid #0d6efd;
    background-color: #0011ff;
    transform: translate(-50%, -50%);
}
#video_element {
    border-radius: 40px;
    /* cursor: pointer; */
    position: absolute;
    width: 98%;
    height: 96%;
    top: 50%;
    left: 50%;
    border: 3px solid #0d6efd;
    background-color: #0011ff;
    transform: translate(-50%, -50%);
}

/* video{
    border-radius: 40px;
} */

/* .custom-video__control {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 30px;
    width: 3em;
    height: 3em;
    white-space: nowrap;
    line-height: 0;
    transform: translate(-50%, -50%);
    
} */


/* video::-webkit-media-controls {
    position: relative;
    z-index: 1;
} */


#custom-video__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    border-radius: 50%;
}















.video-container {
    position: relative;
    width: 100%;
    border-radius: 12px;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    background-color: black;
}

.video-container.theater,
.video-container.full-screen {
    max-width: initial;
    width: 100%;
}

.video-container.theater {
    max-height: 90vh;
}

.video-container.full-screen {
    max-height: 100vh;
}

video {
    width: 100%;
    border-radius: 12px;
}

.video-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 12px;
    color: white;
    z-index: 100;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.video-controls-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    border-radius: 12px;
    z-index: -1;
    pointer-events: none;
}

.video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container,
.video-container.paused .video-controls-container {
    opacity: 1;
}

.video-controls-container .controls {
    display: flex;
    gap: .5rem;
    padding: .25rem;
    align-items: center;
}

.video-controls-container .controls button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: .85;
    transition: opacity 150ms ease-in-out;
}

.video-controls-container .controls button:hover {
    opacity: 1;
}

.video-container.paused .pause-icon {
    display: none;
}

.video-container:not(.paused) .play-icon {
    display: none;
}

.video-container.theater .tall {
    display: none;
}

.video-container:not(.theater) .wide {
    display: none;
}

.video-container.full-screen .open {
    display: none;
}

.video-container:not(.full-screen) .close {
    display: none;
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
    display: none;
}

.video-container[data-volume-level="high"] .volume-high-icon {
    display: block;
}

.video-container[data-volume-level="low"] .volume-low-icon {
    display: block;
}

.video-container[data-volume-level="muted"] .volume-muted-icon {
    display: block;
}

.volume-container {
    display: flex;
    align-items: center;
}

.volume-slider {
    width: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}

.volume-container:hover .volume-slider,
.volume-slider:focus-within {
    width: 100px;
    transform: scaleX(1);
}

.duration-container {
    display: flex;
    align-items: center;
    gap: .25rem;
    flex-grow: 1;
}

.video-container.captions .captions-btn {
    border-bottom: 3px solid red;
}

.video-controls-container .controls button.wide-btn {
    width: 50px;
}

.timeline-container {
    height: 7px;
    margin-inline: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.timeline {
    background-color: rgba(100, 100, 100, .5);
    height: 3px;
    width: 100%;
    position: relative
}

.timeline::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: rgb(150, 150, 150);
    display: none;
}

.timeline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: red;
}

.timeline .thumb-indicator {
    --scale: 0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    background-color: red;
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;
}

.timeline .preview-img {
    position: absolute;
    height: 80px;
    aspect-ratio: 16 / 9;
    top: -1rem;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position) * 100%);
    border-radius: .25rem;
    border: 2px solid white;
    display: none;
}

.thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.video-container.scrubbing .thumbnail-img {
    display: block;
}

.video-container.scrubbing .preview-img,
.timeline-container:hover .preview-img {
    display: block;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
    display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
    --scale: 1;
}

.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
    height: 100%;
}